<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte</title>
    <link rel=stylesheet href="../static/css/bootstrap.min.css" type="text/css" media=screen>
    <link rel=stylesheet href="../static/css/bootstrap-grid.min.css" type="text/css" media=screen>
    <link rel=stylesheet href="../static/css/bootstrap-reboot.min.css" type="text/css" media=screen>
    <!--DESCARGAR Y CREAR ARCHIVO-->
    <script src="https://kit.fontawesome.com/e69f4649d0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/print.css" rel="stylesheet" type="text/css" media="print">
    <scriptpero src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></scriptpero to>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <link href="/static/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet"/>
</head>
<body>
    <img src="/static/images/xeeffy_logo_index.png" width="300px">
    <br>
    <h1 align="center">{{ entidad  }}</h1>
</body>
</html>